@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --first-color: #043570;
  --second-color: #EC7227;
  --third-color: #278DEC;
  --fourth-color: #EC274A;
  --fifth-color: #F6A64D;
  
  --gray: #f1f1f1;
  --semi-dark-gray: #040404;
  --semi-dark-gray-transp: hsla(235, 17%, 40%, .1);
  --dark-gray: #383B58;

  --disabled-input-text: #7F7F7F;
  --speed: 500ms;
  --header-xl-h: 93px;
  --hover-button: rgba(29, 190, 179, 0.829);
  --hover-button-over-dark: rgb(119, 226, 219);
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-first);
  overflow-x: hidden;
}