header {
    padding: 0 20px 0 20px;
    color: var(--second-color);
    font-size: 32px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: (--second-color);
    border-width: 5px;
    border-radius: 0 0 30px 30px; 
}

.logo {
    width: 50%;
}

img {
    width: 30%;
}